<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="./img/Jurassic_Park_Logo_Black_Yellow_Red.png" class="image is-48x48">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item has-text-weight-medium">
            Animals
          </a>

          <a class="navbar-item has-text-weight-medium">
            Personnel
          </a>
        </div>
      </div>
    </nav>

    <section class="hero is-fullheight is-primary has-text-centered has-background-black">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <h1 class="title is-2 is-spaced">
                {{ hero_text }}
              </h1>
              <a id="jurassicParkDoor" href="javascript:void(0);" class="is-block">
                <img src="./img/jurassic_park_door.gif">
              </a>
              <span class="has-text-weight-medium">Door Volume</span>
              <input id="sliderWithValue" class="slider has-output is-fullwidth" min="0" max="100" value="25" step="1" type="range">
              <output for="sliderWithValue" class="has-text-black has-text-weight-bold">25</output>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript" src="js/slider.js"></script>
    <script type="text/javascript" src="js/door.js"></script>
    <script type="text/javascript" src="js/mobile.menu.js"></script>
  </body>
</html>