extends ../../views/layout.pug

block content
  .section
    .container.is-fluid
      .columns.is-centered
        .column.is-half
          .content
            h1.has-text-white #{header_text}
          form(onsubmit='event.preventDefault();')
            .field
              label.label.has-text-white First Name
              .control
                input.input(type='text' name='firstName' placeholder='First Name')
            .field
              label.label.has-text-white Last Name
              .control
                input.input(type='text' name='lastName' placeholder='Last Name')
            .field
              label.label.has-text-white Gender
              .control
                .select
                  select#gender
                    option(value='Male') Male
                    option(value='Female') Female
            .field
              label.label.has-text-white Age
              .control
                input.input(type='text' name='age' placeholder='Age')
            .field
              label.label.has-text-white Date of Hire
              .control
                input.input(type='text' name='dateOfHire' placeholder='Date of Hire')
            .field
              label.label.has-text-white Dinosaur Speciality
              .control
                input.input(type='text' name='dinosaurSpeciality' placeholder='What dinosaurs does he/she specialize in?')
            .field
              label.label.has-text-white Employee Image URL
              .control
                input.input(type='text' name='imageUrl' placeholder='Enter valid picture URL')
            .field.is-grouped
              .control
                button.button.is-link(onclick='createKeeper()') Submit
              .control
                button.button.is-link.is-light(onclick="goTo('/personnel')") Cancel

block scripts
  script(type='text/javascript' src='/js/keeper.create.js')