extends ../../views/layout.pug

block content
  .section
    .content
      h1.has-text-white.has-text-centered #{hero_text}

    .container.is-fluid
      .columns.is-centered
        .column.is-half
          .buttons.is-centered
            a.button.is-medium.is-warning.has-text-weight-bold(href='/animals/create') Add Dino

    .content
      if animals.length > 0
        br
        h1.has-text-white.has-text-centered Dinos
        .columns.is-multiline
          each animal in animals
            include animal.list-template.pug
      else
        h3.has-text-white No Dinos


block scripts
  script(type='text/javascript' src='/js/animal.home.js')