extends ../../views/layout.pug

block content
  .section
    .container.is-fluid
      .columns.is-centered
        .column.is-half
          form(onsubmit='event.preventDefault();')
            .field
              label.label.has-text-white Name
              .control
                input.input(type='text' name='name' placeholder='Name of Dinosaur')
            .field
              label.label.has-text-white Species
              .control
                input.input(type='text' name='species' placeholder='Species of Dinosaur')
            .field
              label.label.has-text-white Gender
              .control
                .select
                  select#gender
                    option(value='Male') Male
                    option(value='Female') Female
            .field
              label.label.has-text-white Age
              .control
                input.input(type='text' name='age' placeholder='Age')
            .field
              label.label.has-text-white Number of Kills
              .control
                input.input(type='text' name='numberOfKills' placeholder='Number of Kills?')
            .field.is-grouped
              .control
                button.button.is-link(onclick='createAnimal()') Submit
              .control
                button.button.is-link.is-light(onclick="goTo('/animals')") Cancel

block scripts
  script(type='text/javascript' src='/js/animal.create.js')