extends layout.pug

block content
  .section
    .columns.is-centered
      .column.is-half
        .content.has-text-centered
          h1.has-text-white #{hero_text}
    .columns
      .column
        .content
          div.has-text-white.is-size-4
            span Code:&nbsp;
            a.is-size-5(href='https://github.com/Wisbell/dino-zoo' target='_blank') Github
    .columns
      .column
        .content
          p.has-text-white.is-size-6
            | This is a remake of a&nbsp;
            a(href='http://nashvillesoftwareschool.com/' target='_blank') Nashville Software School&nbsp;
            | project.  Basic CRUD application for managing personnel and dinosaurs at Jurassic Park.
            br Please do not visit during hurricane season.  Thank you and enjoy your stay.
          p.has-text-white.is-size-5 Tech used:
          ul.has-text-white
            li
              a(href='https://nestjs.com/' target='_blank') NestJS&nbsp;
              span NodeJS serverside framework that utilizes typescript.
            li
              a(href='https://www.postgresql.org/' target='_blank') Postgres&nbsp;
              span SQL Database.
            li
              a(href='https://pugjs.org/' target='_blank') Pug&nbsp;
              span Templating for front end views.
            li
              a(href='https://typeorm.io/#/' target='_blank') TypeORM&nbsp;
              span Typescript ORM (Duh! Who wants to write raw SQL?)
            li
              a(href='https://heroku.com/' target='_blank') Heroku&nbsp;
              span Server/Database hosting. (<3 Free tier.  Thanks Heroku!)
            li
              a(href='https://bulma.io/' target='_blank') Bulma&nbsp;
              span CSS framework.
            li
              a(href='https://sass-lang.com/' target='_blank') SASS&nbsp;
              span CSS compiler.

block scripts
  script(type='text/javascript' src='/js/database.view.js')