extends layout.pug

block content
  .section
    .columns.is-centered
      .column.is-half
        .content.has-text-centered
          h1.has-text-white #{hero_text}
        .buttons.is-centered
          button.button.is-large.is-primary(onclick=`populate('keepers')`) Populate Keepers
          button.button.is-large.is-warning.is-outlined(onclick=`clearTable('keepers')`) Clear All Keepers
          button.button.is-large.is-link(onclick=`populate('trainers')`) Populate Trainers
          button.button.is-large.is-warning.is-outlined(onclick=`clearTable('trainers')`) Clear All Trainers
          button.button.is-large.is-info(onclick=`populate('animals')`) Populate Animals
          button.button.is-large.is-warning.is-outlined(onclick=`clearTable('animals')`) Clear All Animals

block scripts
  script(type='text/javascript' src='/js/database.view.js')