section.hero.is-fullheight.is-primary.has-text-centered.has-background-black
  .hero-body
    .container
      .columns
        .column.is-8-desktop.is-offset-2-desktop
          h1.title.is-2.is-spaced
            | #{ hero_text }
          a#jurassicParkDoor.is-block(href='javascript:void(0);')
            img(src='./img/jurassic_park_door.gif')
          span.has-text-weight-medium Door Volume
          input#sliderWithValue.slider.has-output.is-fullwidth(min='0' max='100' value='25' step='1' type='range')
          output.has-text-black.has-text-weight-bold(for='sliderWithValue') 25
